name : CI/CD Frontend

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node_version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run : npm run test --watchAll=false

      - name: Build React app
        run: npm run build
        env:
          REACT_APP_API_URL: "https://maximebest.sundew.fr/cicd/api/tasks"

      - name: Deploy via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          port: 55555
          source: "build/*"
          target: "/var/www/mabest1/fisa2-cicd/front"
          strip_components: 1
          rm: true
